/* .teacher-input{
    transition: 0.2s ease-in-out;
}
.teacher-input:focus{
    box-shadow: 1px 1px 15px #d7d7d7;
    background: white;
    transition: 0.2s ease-in-out;
    transform: translateY(-5px);
} */